.vs
SmartHouse.Abstractions/bin/
SmartHouse.Abstractions/obj/

SmartHouse.Business/bin/
SmartHouse.Business/obj/

SmartHouse.Core/bin/
SmartHouse.Core/obj/

SmartHouse.Data/bin/
SmartHouse.Data/obj/

SmartHouse.MVC/bin/
SmartHouse.MVC/obj/

SmartHouse.Repositories/bin/
SmartHouse.Repositories/obj/



