@model UsersWithPaginationModel

<a asp-action="CreateUser">Create User</a>
<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" asp-action="Home" asp-controller="Admin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        @Model.PageInfo.PageSize
    </a>

    <ul class="dropdown-menu">
        <li><a class="dropdown-item" asp-action="Home" asp-controller="Admin" asp-route-pageSize="5">5</a></li>
        <li><a class="dropdown-item" asp-action="Home" asp-controller="Admin" asp-route-pageSize="10">10</a></li>
        <li><a class="dropdown-item" asp-action="Home" asp-controller="Admin" asp-route-pageSize="20">20</a></li>
        <li><a class="dropdown-item" asp-action="Home" asp-controller="Admin" asp-route-pageSize="50">50</a></li>
    </ul>
</div>
<div>
    @foreach(var user in Model.Users)
    {
        <h1>@user.Name</h1>
        <h3>@user.Email</h3>
        <p>@{
                var deviceString = user.Devices?.Count != 0 ? String.Join(", ", user.Devices) : new String("devices not found");
                @deviceString
            }</p >
    }
</div>
<pagination page-info="Model.PageInfo" page-action="Home"></pagination>
